* {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.padded {
    padding: 10px;
}

.pad-top-bottom {
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    vertical-align: middle;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}

h1 small {
    font-size: 0.5em;
}

table.event td {
    vertical-align: top;
    padding-bottom: 20px;
}

table.event td a {
    font-size: 1.2em;
}

li.date-header a {
    text-align: center;
    vertical-align: middle;
    min-height: 60px;
    min-width: 80px;
}

li.weekend a, li.weekend a:hover {
    color: #0a0;
}

td.expand {
    padding-right: 15px;
}

.favicon {
    margin: 5px;
    width: 16px;
}

.time {
    white-space: nowrap;
}
